@model Models.MovieFiltering;

@{
    ViewData["Title"] = "Index";

}

<h1>Movies</h1>

<p>
    <a asp-controller="Movies" asp-action="AddNewMovie"><button type="button" class="btn btn-secondary">Add new
            movie</button></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.movies![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movies![0].ProducerName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewData["movies"] as IEnumerable<Models.Movie>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerName)
                </td>
                <td>
                    <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Movies" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>